.contact {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding-top: 14rem;
}

.FormDark {
    background-color: var(--bgColor);
}

.textWhite {
    color: #ffffff;
}

.inputField {
    input {
        color: #ffffff;
        font-weight: 500;
    }

    textarea {
        color: #ffffff;
        font-weight: 500;
    }

    label {
        background-color: var(--bgColor) !important;
    }
}

.submited {
    background-color: #201F1F;
}