.userButtonStyle a {
    color: #ffffff;
    text-decoration: none;
}

.preview {
    display: flex;
    padding-top: 8rem;
    display: flex;
    min-height: 100vh;
}

.sidebarHeight {
    height: 100vh;
    margin-top: -1rem;
    position: static;
    width: fit-content;
    background-color: var(--bgColor);
    border-radius: 0;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5rem;
    color: var(--PrimaryFontColor);
    width: 100%;
    padding: 4rem 0;
    margin-left: 7rem;
}

.aside hr {
    width: 95%;
}

.aside h1 {
    place-self: center;
    font-size: 3rem;
}


.isActive {
    color: #fff !important;
    font-weight: 700;

    img {
        transform: scale(1.75);
    }
}


.navBtnStyle {
    color: rgb(118, 116, 116);

    span {
        justify-content: start;

        a {
            width: 18rem;
        }
    }

    img {
        height: 1.24rem;
        transition: .25s;
    }
}


.previewSidemenu {
    position: relative;
    height: fit-content;

    input[type=checkbox] {
        display: block;
        position: absolute;
        right: 1rem;
        top: 3.4rem;
        z-index: 20;
    }
}

.disable {
    label {
        display: none;
    }
}

.colorBlack {
    color: #000000;
}

.giant {
    padding: 1rem 3rem;
    font-size: 2.5rem;
}

.fullWidth {
    width: 100%;
}

.snippetStyle {
    cursor: auto;

    pre code {
        span:nth-child(2) {
            display: none;
        }
    }

    div p {
        font-family: 'Cascadia Code', sans-serif;
    }
}

.codeStyle div p {
    margin-bottom: 1rem;
}

.importCode {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5rem;

    h2 {
        width: 75%;
    }
}

@media(width<1024px) {
    .preview {
        padding-top: 8rem .5rem;
    }
}

@media(width<768px) {
    .snippetStyle {
        width: 40rem;

        pre code {
            span:nth-child(1) {
                text-wrap: wrap;
            }
        }
    }

    .importCode {
        margin-left: 0;
    }
}

@media(width<400px) {
    .snippetStyle {
        width: 34rem;
        padding: 1rem;

        pre code {
            span:nth-child(1) {
                text-wrap: wrap;
            }
        }
    }
}

@media(width<555px) {
    .carouselStyle {
        width: 24rem;
        height: 12rem;
    }

    .aside {
        margin-left: 1rem;
    }
}