@import url('https://fonts.cdnfonts.com/css/cascadia-code');

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(4, 4, 26);
}

.homePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bgDark {
  background-color: rgb(4, 4, 26);
}

.colorWhite {
  fill: #ffffff;
  color: #ffffff;

  /* navbar link  */
  a {
    color: #ffffff;
  }

  div li a {
    color: #ffffff;
  }
}

/* navbar logo styling */
.fontSize span {
  font-size: 2.5rem;
}


/* common styling */
.none {
  display: none;
}

.myBtn {
  padding: 1.5rem 2rem;
  font-size: 1.75rem;
  font-weight: 700;
  place-self: center;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.textCenter {
  text-align: center;
}

.zIndex1 {
  z-index: 1;
}

.cursorNone {
  cursor: text;
}

.active {
  border-bottom: 0.2rem solid #1e90ff;
}


/* footer  */

.footer {
  box-shadow: 0px -3px 66px -4px rgba(20, 20, 20, 0.75);
  margin-top: auto;
  color: #fff;
}

.footerLinks {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerFlex {
  place-items: center;

  h2 {
    display: flex;
    padding: 1rem;

    span {
      gap: 0.4rem;

      a {
        color: #fff;
      }
    }
  }

  div {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }
}


/* responsive */

@media(width<440px) {
  .footerFlex h2 span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}