
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(4, 4, 26); */
  /* background-color: #081f27; */
  /* background-color: #022c37; */
  /* background-color: #042f3a; */
  background-color: #04262e;
  /* background-color: #04191f; */
}
:root{
  --PrimaryFontColor:#c4c3c3;
  --bgColor:#0d2730;
}

.homePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bgDark {
  background-color: var(--bgColor);
}

.colorWhite {
  color: var(--PrimaryFontColor);

  /* navbar link  */
  a {
    color: var(--PrimaryFontColor);
  }

  div li a {
    color: var(--PrimaryFontColor);

  }
}

/* navbar logo styling */
.fontSize span {
  font-size: 2.5rem;
}


/* common styling */
.none {
  display: none;
}
.colorSVG{
  fill: var(--PrimaryFontColor);
}
.myBtn {
  padding: 1.5rem 2rem;
  font-size: 1.75rem;
  font-weight: 700;
  place-self: center;

  a {
    text-decoration: none;
    color: #eeecec;
  }
}

.textCenter {
  text-align: center;
}

.zIndex1 {
  z-index: 1;
}

.cursorNone {
  cursor: text;
}

.active {
  /* border-bottom: 0.2rem solid #1e90ff; */
  color: #1e90ff !important;
}

/* navbar */
.navbar{
  box-shadow: none;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.borderNone{
  border: none;
}
.borderNone:hover{
  border: none;
}
.borderNone:hover a{
  transition: .2s;
  border: none;
  color: #1e90ff;
}


/* footer  */

.footer {
  box-shadow: none;
  margin-top: auto;
  color: var(--PrimaryFontColor);
}

.footerLinks {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerFlex {
  place-items: center;

  h2 {
    display: flex;
    padding: 1rem;

    span {
      gap: 0.4rem;

      a{
        color: var(--PrimaryFontColor);
      }
      a:hover{
        color: #ffffff;
      }
    }
  }

  div {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;

  }
}

.socialIcon {
  fill: var(--PrimaryFontColor);
}
.socialIcons:hover .socialIcon{
  fill: #ffffff;
}




/* responsive */

@media(width<440px) {
  .footerFlex h2 span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}